# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build output
.next
out
coverage
*.log

# Environment and local config
.env
.env.*
.DS_Store

# Git & CI
.git
.gitignore
.vscode
.idea

# Docker
Dockerfile
docker-compose.yml
